body {
  background: url("/img/back_img.jpg");
  background-size: cover;
  filter: brightness(90%);
}
.wrapper {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link_facts {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  /* text-decoration: none; */
  color: #000000;
  font-size: 20px;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contacts-container {
  display: flex;
  justify-content: center;
}

.contact__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact__li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 20px 0 20px;
}
.contact__img {
  width: 24px;
  height: 24px;
}
.link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.link:hover {
  color: #637fa1;
}

.about {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 50px;
}
.container__about {
  display: flex;
  /* justify-content: space-between; */
}

.line {
  height: 200px;
  border-top: 3px solid #000000;
}

.container__lsiete {
  text-align: right;
  padding-right: 20px;
}

.container__rsiete {
  padding-left: 20px;
}

.prof__skils {
  padding-top: 40px;
}

.img__skils {
  width: 400px;
  height: 400px;
}
.interesting__facts {
  padding-bottom: 70px;
}
.facts {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 20px 0 20px; */
}
