body {
  background: var(--blue-darken);
}
.wrapper {
  display: flex;
  max-width: 1440px;
  margin: auto;
}
.container {
  width: 1330px;
  margin: 30px 80px;
  background: var(--blue-dark);
  border-radius: 10px;
}

.sidebar {
  background: var(--blue-dark);
}
