@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-font: "Montserrat";

  --purple-dark: #392c72;
  --gray-dark: #4f4f4f;
  --gray-middle: #828282;
  --gray-light: #bdbdbd;

  --purple-light: #9e8cfc;
  --red: #ea5455;
  --yellow: #f2c94c;
  --green: #6fcf97;
  --blue-dark: #283046;
  --blue-darken: #161d31;
  --hover-icon: #fff;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-dark);
}

.lang {
  font-size: 18px;
  line-height: 21.94px;
  color: var(--gray-light);
}
