.header__quick {
  display: flex;
  justify-content: space-between;
  padding: 27px 20px;

  &-panel {
    display: flex;
    gap: 20px;
    align-items: center;
    &-link {
      display: flex;
    }
  }

  &-settings {
    display: flex;
    gap: 50px;
    align-items: center;

    &-lang {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    &-setting {
      display: flex;
      gap: 20px;
    }
  }
}
.icon:hover .color-icon {
  fill: var(--hover-icon);
}
